<h1>CLI</h1>
<div class="fact">
  <h2>Creating the app</h2>
  <section highlight-js-content=".highlight">
    <code class="bash highlight">ng new ngbestpractives --prefix ngbp --style scss</code>
  </section>
</div>

<div class="fact">
  <h2>View App Size</h2>
  <section highlight-js-content=".highlight">
    <code class="bash highlight">yarn global add source-map-explorer</code>
  </section>
  <section highlight-js-content=".highlight">
    <code class="bash highlight">ng build -prod -sm</code>
  </section>
  <section highlight-js-content=".highlight">
    <code class="bash highlight">source-map-explorer dist/vendor*</code>
  </section>
  <section highlight-js-content=".highlight">
    <code class="bash highlight">source-map-explorer dist/main*</code>
  </section>
</div>

<a href="https://github.com/OG84/ngbestpractices">https://github.com/OG84/ngbestpractices</a>
