.products{
  display: flex;
  margin: 0 0 40px 0;

  .exercises, .workbooks, .apts {
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 0;

    span {
      padding: 5px;
      margin: 5px;
      background-color: lightcoral;
    }
  }
}

.cover {
  max-height: 250px;
}
