@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: 'Open Sans', sans-serif;
    padding: 40px;
}

h1, h2 {
  color: #b52e31;
}

code {
  padding: 15px;
  margin: 0 0 10px 0;
}
